{{ if and (not $.Site.Params.DisableReadOtherPosts) (or .NextInSection .PrevInSection) }}
    <div class="pagination pagination--post">
        <div class="pagination__buttons">
            {{ if .PrevInSection }}
            <a class="post-nav__link post-nav__link--prev" href="{{ .PrevInSection.RelPermalink }}">
                <span class="post-nav__label">Previous</span>
                <span class="post-nav__title">{{ .PrevInSection.Title }}</span>
            </a>
            {{ end }}

            {{ if .NextInSection }}
            <a class="post-nav__link post-nav__link--next" href="{{ .NextInSection.RelPermalink }}">
                <span class="post-nav__label">Next</span>
                <span class="post-nav__title">{{ .NextInSection.Title }}</span>
            </a>
            {{ end }}
        </div>
    </div>
{{ end }}
