{{ define "main" }}
    <main aria-role="main">
        <div>
            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            {{ $title := .Site.Title }}
            {{ $endStart := sub (len $title) 2 }}
            <h1 class="hero-title">
                {{- substr $title 0 $endStart -}}<span class="hero-title-end">{{ substr $title $endStart }}<span class="hero-character-slot"><img class="hero-character" src="/img/hero-character.png" alt=""></span></span>
            </h1>
        </div>
    </main>
{{ end }}
